/webserver/web-app/WEB-INF/classes
/webserver/target/
/webserver/data2/sessions/
/webserver/target-eclipse/
/webserver/.classpath
/webserver/stacktrace.log
/webserver/data2/config/logs/echelon.log
/webserver/.settings/*
/webserver/bin/
/webserver/.project
/webserver/.idea
/webserver/newrelic.log
/webserver/out
/webserver/webserver-grailsPlugins.iml
/webserver/webserver.iml
dump.rdb
.DS_Store
webserver/.idea/*
*.iml
webserver/target
/webserver/hs*.log
/webserver/replay*.log